$bubble-color: #aedef5;
$bubble-size: 1000px;

html {
    background-color: aliceblue;
}

.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#header {
    text-align: center;
}

#layout-bubble {
    position: relative;
    transform: translate(0, -50%);
    width: $bubble-size;
    height: $bubble-size / 2;
    border-radius: 0 0 $bubble-size $bubble-size;
    background-color: $bubble-color;
    margin: auto;
}

#title {
    position: absolute;
    top: $bubble-size / 10;
    left: 50%;
    transform: translate(-50%);
}

.contents {
    margin: 0 3rem;
    position: relative;
    top: -$bubble-size / 5;
}

.nav {
    list-style: none;
    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

footer > * {
    margin: 2rem;
}
