$bubble-color: #aedef5;
$bubble-size: 1000px;
$profile-size: 500px;
$photo-size: 450px;

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#container > * {
    width: 100%;
}

.section {
    margin-bottom: 2rem;
}

.section > * {
    display: inline-block;
    vertical-align: middle;
}

#bubble {
    width: $bubble-size / 2;
    height: $bubble-size;
    border-radius: 0 $bubble-size $bubble-size 0;
    background-color: $bubble-color;
}

.nav {
    margin-left: 0;
}

#info {
    margin-left: 3rem;
}

#details > * {
    margin: 2rem;
}

#additional {
    width: 20rem;
}

#intro {
    width: 30rem;
}

#profile {
    width: $profile-size;
    height: $profile-size;
    margin: auto;
    background-color: $bubble-color;
    border-radius: 50%;
    position: relative;

    #photo {
        background-image: url('/Profile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: $photo-size;
        height: $photo-size;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

#qna {
    padding: 2rem;
}
